@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('fonts/Roboto-300/Roboto-300.eot');
  src: url('fonts/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('fonts/Roboto-300/Roboto-300.woff2') format('woff2'),
       url('fonts/Roboto-300/Roboto-300.woff') format('woff'),
       url('fonts/Roboto-300/Roboto-300.ttf') format('truetype'),
       url('fonts/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Merriweather-regular/Merriweather-regular.eot');
  src: url('fonts/Merriweather-regular/Merriweather-regular.eot?#iefix') format('embedded-opentype'),
       local('Merriweather'),
       local('Merriweather-regular'),
       url('fonts/Merriweather-regular/Merriweather-regular.woff2') format('woff2'),
       url('fonts/Merriweather-regular/Merriweather-regular.woff') format('woff'),
       url('fonts/Merriweather-regular/Merriweather-regular.ttf') format('truetype'),
       url('fonts/Merriweather-regular/Merriweather-regular.svg#Merriweather') format('svg');
}
@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: normal;
  src: url('fonts/Merriweather-700/Merriweather-700.eot');
  src: url('fonts/Merriweather-700/Merriweather-700.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Bold'),
       local('Merriweather-700'),
       url('fonts/Merriweather-700/Merriweather-700.woff2') format('woff2'),
       url('fonts/Merriweather-700/Merriweather-700.woff') format('woff'),
       url('fonts/Merriweather-700/Merriweather-700.ttf') format('truetype'),
       url('fonts/Merriweather-700/Merriweather-700.svg#Merriweather') format('svg');
}
@font-face {
  font-family: 'Arapey';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Arapey-regular/Arapey-regular.eot');
  src: url('fonts/Arapey-regular/Arapey-regular.eot?#iefix') format('embedded-opentype'),
       local('Arapey Regular'),
       local('Arapey-regular'),
       url('fonts/Arapey-regular/Arapey-regular.woff2') format('woff2'),
       url('fonts/Arapey-regular/Arapey-regular.woff') format('woff'),
       url('fonts/Arapey-regular/Arapey-regular.ttf') format('truetype'),
       url('fonts/Arapey-regular/Arapey-regular.svg#Arapey') format('svg');
}

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: 'Merriweather', serif;
	position: absolute;
	top: 0;
	left: 0;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;

	color: #464646;
}

.section {
	background: radial-gradient(circle, #FFFFFF 10%, #E8E8E8 120%);
	position: absolute;
	width: 100%;
	height: 100%;
	display:none;
	opacity: 0;
}
.section::before {
  content: "";
  background: url("img/noisy-texture-transparent.png");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  //opacity: 1;
}
.section.visible {
	display: block;
}

.section-desc {
	position: fixed;
  width: 30vw;
  bottom: 4vh;
  left: 4vh;

  z-index: 10;

	opacity: 0;
	animation: fadeOut 1s;

  .section-desc-artist {
    font-size: 1em;
  	font-weight: 700;
    margin-bottom: 2px;
  	white-space: nowrap;
  }
  .section-desc-title {
    font-size: 0.8em;
    margin-bottom: 2px;
    font-family: 'Roboto', sans-serif;
  }
  .section-desc-year {
    font-size: 0.8em;
  	white-space: nowrap;
  	font-family: 'Roboto', sans-serif;
  }
}
.section-desc.visible {
	display: block;
	opacity: 1;
	animation: fadeIn 1s;
}
.section-desc.negative {
	color: #fff;
}

.section-desc .desc-home {

}

.steps {
  font-size: 0.8em;
  position: fixed;
  bottom: 4vh;
  right: 4vh;
  margin: 0;
  z-index: 10;
  width: 40vw;
  text-align: right;
}
.step {
	position: absolute;
	bottom: 0;
	right: 0;

  display: none;
  opacity: 0;
}

.section.negative .step {
	color: #fff;
}
.step.visible {
	display: block;
	opacity: 1;
	animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.step .action {
  font-style: italic;
  font-weight: 700;
}

.container {
	width: 90vw; 
  height: 90vw;
  max-height: 90vh;
  max-width: 90vh;
  margin: auto;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
}	

.navigation {
	.dots {
		position: fixed;
    margin: 0px -12px;
    height: 70px;
    width: 70px;
    z-index: 100;
    right: 0;

    cursor: default;
		opacity: 0;
		transition-duration: 1s;
	}
	.dots.visible {
    cursor: pointer;
		display: block;
		opacity: 1;
		animation: fadeIn 1s;
	}
	.dots circle {
	  stroke: #464646;
	}
	.dots.negative circle {
	  stroke: #fff;
	}
}

/*.container .row {
	display: flex;
	justify-content: space-between;
	margin-top: 0%;
	height: 10%;
}*/

/*.aspect-ratio {
	width: 100vw; 
    height: 90vw;
    max-height: 90vh;
    max-width: 90vh;
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}*/

.no-select {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Home ---------------------------------------------------------------------- */

#home {
	display: block;
  	background: radial-gradient(circle, #fff 10%, #ddd 120%);
	height: 100%;
	opacity: 1;

	.container {
		display: flex;
    justify-content: center;
    align-items: center;

    width: 80vw;
    height: 80vw;
    max-height: 80vh;
    max-width: 80vh;
	}

	.menu-circle {
		position: absolute;
    left: 0;
    top: 0;

    border: solid 2px #fff;
    border-radius: 50%;

		width: 100%;
		height: 100%;

		opacity: 0;
		//transform: translateY(-10px);

		//transform: scale(0);
	  //animation: rotating 100s linear infinite;
	}
	.menu-desc {
    text-align: center;
    height: 60%;
    position: relative;
    width: 100%;
	}

	.menu-desc-item {
		display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    opacity: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    transform: translateY(10px);

    transition-duration: 0.5s;
	}
	.menu-desc-item.visible {
		opacity: 1;
    transform: translateY(0);
    transition-duration: 0.5s;
	}
	.menu-desc-item span {
		flex: 0 1 100%;
	}

	.menu-desc-logo {
		height: 60%;
		margin-bottom: 5px;
	}

	@keyframes rotating {
	  from {
	    transform: rotate(0deg);
	  }
	  to {
	    transform: rotate(360deg);
	  }
	}
	
	.menu {
		display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    font-size: 12px;
	}

	.menu-item {
	    height: 14%;
	    width: 14%;
	    opacity: 0;
	    position: absolute;
	    transition-duration: 0.5s;
	    cursor: pointer;
	    transform: translateY(-150px);

	    background: radial-gradient(circle, #fff 0%, transparent 70%);
	}
	.menu-item:before {
	    content: "";
	    height: 100%;
	    width: 100%;
	    background-color: #fff;
	    transition: all 0.5s ;
	    position: absolute;
	    top: 0;
	    left: 0;
	    border-radius: 40px;
	    transform: scale(0);
	    opacity: 0.2;
	}
	.menu-item:after {
	    content: "";
	    height: 100%;
	    width: 100%;
	    border: 2px solid rgba(255, 255, 255, 0.8);
	    transition: all 0.5s;
	    position: absolute;
	    top: 0;
	    left: 0;
	    border-radius: 50%;
	    transform: scale(0.5);
	    opacity: 0;
	    box-sizing: border-box;
	}

	.menu-item.reset-cursor {
		cursor: default;
	}

	.menu-item img {
    transform: rotate(0deg);
    transition-duration: 0.5s;
	}

	.menu-item:hover img {
    transform: rotate(360deg);
    transition-duration: 0.5s;
	}
	.menu-item:hover:before {
    transform: scale(1);
	}
	.menu-item:hover:after {
    transform: scale(1.5);
    opacity: 1;
	}

	.menu-item img {
    width: 100%;
    height: 100%;
	}

	.menu-item-artist {
    font-weight: 700;
    font-size: 3.5vmin;
	}
	.menu-item-title {
    font-size: 3.5vmin;
    width: 70%;
    display: inline-block;
	}
	.menu-item-initials {
    font-size: 20vmin;
    font-family: 'Arapey', serif;
    line-height: 18vmin;
	}

	.menu-desc-item.default {
		top: 2vmin;
	}

	.menu-desc-item.default .menu-item-initials {
    font-family: 'Merriweather', serif;
    font-size: 6vmin;
    line-height: 5vmin;
	}

	.menu-desc-item.default .menu-item-artist {
    font-size: 20vmin;
    font-family: 'Arapey', serif;
    font-weight: 100;
    line-height: 16vmin;
	}

	.menu-desc-item.default .menu-item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vmin;
	}

	.bottom-right {
		position:fixed;
		bottom: 4vh;
		right: 4vh;
		height: 20px;

		opacity: 0;
		display: none;

		img {
			height: 20px;
		}
	}

	.bottom-right.hidden {
		display: block;
		opacity: 0;
		animation: fadeOut 1s;
	}

	.bottom-right.visible {
		display: block;
		opacity: 1;
		animation: fadeIn 1s;
	}
}



/* Munari -------------------------------------------------------------------- */

#munari {

	.container {
		width: 80vw; 
    height: 80vw;
    max-height: 80vh;
    max-width: 80vh;

    margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
	}	

	.container .row {
		display: flex;
  		justify-content: space-between;
	    margin-top: 0%;
	    height: 10%;
	}

	.line {
		float: left;
		//transition: 0.2s;
    	width: 10%;

    	display: flex;
		justify-content: center;
		align-items: center;
	}

	.line::after {
		content: "";
	    display: inline-block;
		background-color: #000;
		width: 4px;
		height: 15px;
		border-radius: 4px;
		float: left;
	}
}



	/* Gerstner -------------------------------------------------------------------- */

#gerstner {
	.circle {
		position: relative;
		border-radius: 50%;
		height: 100%;
		width: 100%;
	    top: 45%;
		margin: 0 auto;
		//transition: transform 10s;		

		background-image: url("../img/gerstner.svg");
	    background-clip: content-box;
		
		transform: translate(-1px, -1px);
		border: solid 1px transparent;
	}


	.circle-1 {
		top: 0;
	    left: 0;
	    padding: 0;
        overflow: hidden;
	}

	.circle-2 {
	    width: 50%;
	    height: 50%;
		left: 0%;
	    padding: 0 25%;

	}

	.circle-3 {
	    width: 50%;
	    height: 50%;
		left: -50%;
	    padding: 0 75%;

	}

	.circle-4 {
	    width: 50%;
	    height: 50%;
		left: -150%;
	    padding: 0px 175%;
	}

	.circle-5  {
	    width: 50%;
	    height: 50%;
		left: -350%;
	    padding: 0 375%;
	}
}

/* Massironi -------------------------------------------------------------------- */

#massironi {
	.box {
		float:left;
		position: relative;
		width:50%;
		height: 50%;

	}

	.square {
		width: 100%;
	    height: 100%;
	    box-sizing: border-box;	
		border: solid 2px #999;
	    //outline: solid 1px #999;
	    position: absolute;
	    -webkit-transition: all 900ms cubic-bezier(0.645, 0.045, 0.355, 1);
	  	transition:         all 900ms cubic-bezier(0.645, 0.045, 0.355, 1);
	  	-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

	}
	.square.reset {

		transform: rotate(0deg) !important;
		width: 100% !important;
		height: 100% !important;
		top: 0 !important;
		left: 0 !important;
	}

	.box-1 {

	}
	.box-2 {

	    transform: rotateY(180deg) translateX(2px);
	}
	.box-3 {
		transform: translateY(-2px) rotateY(180deg);
	}
	.box-4 {
		transform: translateY(-2px) translateX(-2px);
	}
}
/* Apollonio -------------------------------------------------------------------- */

#apollonio {
	background: radial-gradient(circle, #FFFFFF 10%, #E8E8E8 120%);

	&:before {
	   opacity: 0.3;
	}

	.container {
		box-shadow: 0 0 15px 0px #aaa;
    	border-radius: 50%;
		overflow: hidden;
	}	

	.svg-container {
		height: 100%;
    width: 100%;
	}

	#apollonioSvg {
  		//transition: transform 15s;
	}

	.circle {
		//transition-duration: 10s;
		border-radius: 50%;
		height: 100%;
		width: 100%;
	    top: 45%;
		margin: 0 auto;
		position: absolute;
	}
}

/* Chiggio -------------------------------------------------------------------- */

#chiggio-2 {

	.container {
		width: 90vw; 
	    height: 90vw;
	    max-height: 90vh;
	    max-width: 90vh;
	    margin: auto;
	    position: absolute;
	    top:0;bottom:0;
	    left:0;right:0;
	}	

	.container .row {
		display: flex;
  		justify-content: space-between;
  		    margin-top: 0%;
	    height: 6.67%;
	}

	.line {
	    display: inline-block;
		float: left;
		transition: 1s;
	}

	.line-content {
	    display: inline-block;
		background-color: #000;
		width: 4px;
		height: 15px;
		border-radius: 4px;
		float: left;
		margin: 10px;
	}

	.item {
	    width: 6.67%;
	    height: 100%;
	    position: relative;
	    overflow: hidden;
	}

	.half {
	    position: absolute;
	    width: 100%;
	    top: -50%;
	    left: -50%;
	    background-color: #000;
	    height: 200%;
	    transform-origin: 100% 50%;
	}
}

/* Landi -------------------------------------------------------------------- */

.landi {
	.container {
		perspective: 1000px;
		transform: rotate(45deg);

		width: 100vw; 
	    height: 90vw;
	    max-height: 70vh;
	    max-width: 70vh;
	    margin: auto;
	    position: absolute;
	    top:0;bottom:0;
	    left:0;right:0;
	}	

	.row:last-child .item {
		margin-bottom: 0;
	}

	.row .item:last-child {
		margin-right: 0;
	}

	.item {
	    height: 6.25%;
	    width: 6.25%;
	    position: relative;
	    float: left;
	    margin: 0 6.25% 6.25% 0;
    }

    .front {
        background-color: #fff;
	    position: absolute;
	    top: 0;
	    left: 0;

	    width:100%;
	    height: 100%;

	    outline: solid #fff 1px;

		transform: rotateY(-30deg);
    	transform-origin: 0 0;

    	cursor: pointer;
    	transition-duration: 0.5s;
    }	

    .item-t .front {
        transform: rotate3d(1, 0, 0, 35deg);
        transform-origin: 100% 0;
        //top: -1px;
        background-color: #f9f9f9;
        outline-color: #f9f9f9;
    }

    .item-b .front {
        transform: rotate3d(1, 0, 0, 35deg);
        transform-origin: 0 100%;
        //top: 1px;
        background-color: #f5f5f5;
   		outline-color: #f5f5f5;
    }

    .item-r .front {
        transform: rotate3d(0, 1, 0, 35deg);
        transform-origin: 100% 0;
        //left: 1px;
        background-color: #f0f0f0;
   		outline-color: #f0f0f0;
    }    

    .item-r .back {
    	box-shadow:	-1px 4px 6px -2px #eee;
    }

    .item-l .front {
        transform: rotate3d(0, 1, 0, 35deg);
        transform-origin: 0 100%;
        //left: -1px;
        outline-color: #fff;
    }

    .back {
        background-color: #000;
	    position: absolute;
	    top: 0;
	    left: 0;

	    width:100%;
	    height: 100%;

        box-shadow: 2px 2px 6px 0px #eee;
    }	
}


/* Chiggio -------------------------------------------------------------------- */

#chiggio {
	background: radial-gradient(circle, #2F2F2F 10%, #000000 120%);

	.container {
		width: 90vw; 
    height: 90vw;
    max-height: 90vh;
    max-width: 90vh;
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;

  	box-sizing: border-box;
	}	

	.svg-wrapper {
		position: absolute;
	}

	.circle {
		position: absolute;
	  border-radius: 50%;
	  box-shadow: 0 0 8px rgba(0,0,0,0.5);
	}

	.chiggio2 {
		z-index: 1;
	}

	.chiggio3 {
  	transform: rotate(180deg);
	}

	.chiggio4 {
		z-index: 1;
	}
}

#barrese {
	background: radial-gradient(circle, #444 10%, #000 120%);
}

/******************************************************************************
VARISCO
******************************************************************************/

#varisco {
	background: radial-gradient(circle, rgb(17, 17, 17) 10%, rgb(0, 0, 0) 120%);

	.container {
		width: 80vw;
    height: 80vw;
    max-height: 80vh;
    max-width: 80vh;

		overflow: hidden;
		box-shadow: 0 0 50px rgba(9, 46, 219, 0.3);
		border: solid 3vmin #000;
	}

	#variscoCanvasBottom {
		//border-radius: 50%;
		//border: solid 10px #000;
		box-sizing: border-box;
		box-shadow: 0 0 50px rgba(9, 46, 219, 0.3);
	}

	#variscoCanvasTop {
		position:absolute;
		top:0;
		border: 10px solid transparent;
		box-sizing: border-box;
	}

  .canvas-container {
  	position:absolute !important;
  	top:0;
  }
}

/******************************************************************************
BIASI
******************************************************************************/

#biasi {

	.canvas-container {
		position:absolute !important;
		top:0;
	}

  .container {
    width: 80vw;
    height: 40vw;
    max-height: 60vh;
    max-width: 120vh;

    overflow: hidden;

    border: solid 4vmin #fafafa;
  }
}



// Small devices (landscape phones, 34em and up)
@media (max-width: 34em) {
	.steps {
    width: 90vw;
    right: 5vw;

    text-align: center;
  }

  .step {
  	position: relative;
  	right: initial;
  }

  .section-desc {
    position: fixed;
    top: 2vh;
    bottom: initial;
    left: 0;
    padding: 0;
    z-index: 10;
    opacity: 0;
    transition-duration: 1s;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
	}

	#home .bottom-right {
    bottom: 2vh;
    right: initial;
    width: 100%;
    text-align: center;
	}
}
/*
// Medium devices (tablets, 48em and up)
@media (min-width: 48em) { }*/

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {

}

/*
// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) { }*/